# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Python virtual environment
.venv
venv
env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor configuration
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Documentation
docs/

# Build artifacts
dist/
build/
*.egg-info/

# Local files
data/chembl_35_sqlite
old/processed_all_custom_features
data/raw
data/sampling
models/
outputs/
