[submodule "modules/REINVENT4"]
	path = modules/REINVENT4
	url = https://github.com/wtaisner/REINVENT4.git
	branch = main
[submodule "modules/Mol-AIR"]
	path = modules/mol_air
	url = git@github.com:wtaisner/Mol-AIR.git
	branch = main
[submodule "modules/bionemo/data/MolRL"]
	path = modules/bionemo/data/MolRL
	url = git@github.com:wtaisner/MolRL.git
